<%- include('./partials/head') %>

  <body>
    <%- include('./partials/navbar') %>

      <% if (typeof notice !=='undefined' ) { %>
        <% var title="Alterar Notícia" %>
          <% var route="/notices/editnotice/" +notice.pk_id_notice %>
            <% } else { %>
              <% var title="Nova Notícia" %>
                <% var route="/notices/newnotice" %>
                  <% } %>

                    <div class="container mt-5">

                      <div class="card shadow mb-3">
                        <div class="card-header text-center">
                          <h3><%= title %></h3>
                        </div>
                        <div class="card-body">
                          <form action="<%= route %>" method="post">
                            <div class="mb-3">
                              <label for="titleNotice" class="form-label">Titulo da notícia</label>
                              <input type="text" class="form-control" id="titleNotice" name="titleNotice" value="<%= typeof notice !== 'undefined' ? notice.title_notice : null %>">
                            </div>
                            <div class="mb-3">
                              <label for="categorieNotice" class="form-label">Categoria</label>
                              <select class="form-select" name="categorieNotice">
                                <% categories.forEach(category=> { %>
                                  <option value="<%= category.pk_id_category %>">
                                    <%= category.name_category %>
                                  </option>
                                  <% }) %>
                                  <%=  %>
                              </select>
                            </div>
                            <div class="mb-3">
                              <label for="place" class="form-label">Local do ocorrido</label>
                              <input type="text" class="form-control" id="place" name="place" value="<%= typeof notice !== 'undefined' ? notice.where_notice : null %>">
                            </div>

                            <div class="mb-3">
                              <label for="dateoccur" class="form-label">Data do ocorrido</label>
                              <input type="date" class="form-control" id="dateoccur" name="dateoccur" value="<%= typeof notice !== 'undefined' ? moment(notice.dt_occur_notice).format("YYYY-MM-DD")  : null %>">
                            </div>

                            <div class="mb-3">
                              <label for="notice" class="form-label">Resumo da notícia</label>
                              <textarea type="text" rows="10" class="form-control" id="notice" name="notice"><%= typeof notice !== 'undefined' ? notice.summary_notice : null %></textarea>
                            </div>

                            <button type="submit" id="btnsubmit" class="btn btn-primary">Cadastrar</button>
                          </form>
                        </div>
                      </div>
                    </div>

                    <%- include('./partials/script-import') %>

  </body>

  </html>